.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

.env
.env.local

Dockerfile
docker-compose.yml
.dockerignore

.idea/
.vscode/
*.swp
*.swo

media/
staticfiles/
db.sqlite3

.DS_Store
Thumbs.db